@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.content {
    position: absolute;
    right: 0;
    margin-left: 348px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-family: 'Rubik';
    font-weight: 900;
    font-size: 32px;
    color: #4A72FF;
    text-align: center;
    margin: auto;
}

.button {
    margin-left: 12%;
}

.projects-listing {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5%;
    row-gap: 25px;
}

.pagination {
    margin: auto;
}