@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    text-transform: capitalize;
}

#deleteBtn {
    font-size: 20px;
    font-family: 'Rubik';
    color: #FF0606;
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    gap: 15px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 93%;
    text-align: center;
    border: 1px solid whitesmoke;
}

/* .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 348px;
    padding-top: 59px;
} */
.content {
    width: calc(100% - 327px);
    position: absolute;
    right: 0;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
    gap: 32px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.go-back {
    width: 25%;
    display: flex;
    align-items: center;
    color: #4A72FF;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Rubik';
}

.go-back>img {
    width: 8%;
    height: auto;
    margin-right: 1%;
}

.title {
    font-family: 'Rubik';
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin: 2% auto;
    font-weight: 700;
}

.buttons-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 90px;
    margin-bottom: 2.5%;
}

/* .buttons-div>a {
    background-color: #4A72FF;
    padding: .5% 1%;
    border-radius: 12px;
    color: white;
    font-size: 18px;
} */

th {
    font-family: 'Rubik';
    font-weight: 600;
    color: #4A72FF;
    background-color: #E8EDFF;
    padding: .5% 2%;
}

td,
td>a {
    font-family: 'Rubik';
    text-align: center;
    font-size: 16px;
}

.lastTd {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10% 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* .lastTd input {
    background-color: #FF0606;
    width: 62px;
    height: 23px;
    cursor: pointer;
    color: white;
    font-family: 'Rubik';
    border-radius: 6px;
    border: none;
} */

/* #delete-btn {
    font-size: 20px;
    font-family: 'Rubik';
    border: none;
    color: #FF0606;
    width: 220px;
    height: 35px;
    cursor: pointer;


} */


.lastTd>#editBtn {
    width: 62px;
    height: 23px;
    cursor: pointer;
    color: white;
    font-family: 'Rubik';
    border-radius: 6px;
    border: none;
    text-transform: capitalize;
    font-size: 13px;
}

#editBtn>p {
    margin-top: 6%;
}

.lastTd {
    display: flex;
    flex-direction: row;
    justify-content: center;
}