.content .formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    justify-content: space-evenly;
}
label {
    font-size: 15px;
    font-weight: 600;
}
input[type="submit"] {
    background-color: #4a72ff;
    height: 35px;
}
input[type="submit"]:hover {
    background-color: #e8edff;
}
.content {
    width: calc(100% - 327px);
    position: absolute;
    right: 0;
    top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
}
.goBack {
    position: absolute;
    left: 25%;
    top: 10%;
    font-size: 16px;
}
