@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-transform: capitalize;
}

.header {
    font-family: 'Rubik';
    font-weight: 900;
    font-size: 28px;
    color: #4A72FF;
    text-align: center;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid whitesmoke;
}

th,
td,
td a {
    text-align: center;
    font-family: 'Rubik';
    padding: 8px;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    font-family: 'Rubik';
    font-weight: 600;
    color: #4A72FF;
    background-color: #E8EDFF;
    padding: .5% 2%;
    font-weight: bold;
    font-family: 'Rubik';
    font-size: 16px;
}

body {
    position: relative;
}

.content {
    width: calc(100% - 327px);
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
}

.tasksTable {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 93%;

}



.lastTd {
    /* width: 150px; */
    display: flex;
    justify-content: center;
    /* margin-top: 5%; */
}

.lastTd>#editBtn {
    width: 62px;
    height: 23px;
    padding: 0;
    font-size: 13px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav {
    align-self: self-end;
    margin-right: 44px;
    margin-top: 19px;
} */

/* Component Styles */
