@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-transform: capitalize;
}

.header {
    font-family: 'Rubik';
    font-weight: 900;
    font-size: 28px;
    color: #4A72FF;
    text-align: center;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid whitesmoke;
}

th,
td,
td a {
    text-align: center;
    font-family: 'Rubik';
    padding: 8px;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4a72ff;
    color: white;
    font-weight: bold;
    font-family: 'Rubik';
    font-size: 16px;
}

body {
    position: relative;
}

.content {
    width: calc(100% - 327px);
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
}

.tasksTable {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 93%;

}

.btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 93%;
    margin-top: 93px;
    padding: 20px auto;
}

.lastTd {
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.lastTd>#editBtn {
    width: 62px;
    height: 23px;
    padding: 0;
    font-size: 13px;
    border-radius: 6px;
}

.checkbox-dropdown {
    width: 200px;
    border: 1px solid #aaa;
    padding: 10px;
    position: relative;
    margin: 0 auto;

    user-select: none;
}

.checkbox-dropdown:after {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}

.checkbox-dropdown.is-active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
}

.checkbox-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    border: inherit;
    border-top: none;
    left: -1px;
    right: -1px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    pointer-events: none;
}

.is-active .checkbox-dropdown-list {
    opacity: 1;
    pointer-events: auto;
}

.checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;

    transition: all 0.2s ease-out;
}

.checkbox-dropdown-list li label:hover {
    background-color: #555;
    color: white;
}