.content {
    width: calc(100% - 327px);
    position: absolute;
    right: 0;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
}

* {
    text-transform: capitalize;
}

.divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 49px;
    margin-top: 53px;
    font-size: 20px;
}

.divs div {
    width: 677px;
    display: flex;
    justify-content: space-between;
}

.divs div span:first-child {
    font-size: 17px;
    font-weight: 600;
}

.goBack {
    position: absolute;
    left: 25%;
    top: 10%;
    font-size: 16px;
}

.lastTd {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 61px;
    margin-top: 35px;
    margin-right: -429px;
}