* {
    text-transform: capitalize;
    font-family: 'rubik'
}
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.content {
    width: calc(100% - 327px);
    position: absolute;
    right: 0;
    top: 2%;
    margin: 30px auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid whitesmoke;
}

th,
td,
td a {
    text-align: center;
    font-family: 'Rubik';
    padding: 8px;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #E8EDFF;
    color: #4A72FF;
    font-weight: bold;
    font-family: 'Rubik';
    font-size: 16px;
    padding: .5% 2%;
}

.tasksTable,
.projectsTable {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 93%;

}

.progBar {
    display: flex;
}

.progContainer {
    display: flex;
    justify-content: space-around;
}
nav{
    align-self: end;
    margin-top: 22px;
    font-size: 12px;
}
.completedProject , .lateTasks , .deadlines{
  display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 85%;
    /* column-gap: 19px; */
    gap: 17px;

}
.tables{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header{
    margin: 23px;
    font-size: 23px;

}
.completedProject h4 , .lateTasks h4 , .deadlines h4{
        font-size: 20px;
    
}