* {
    text-transform: capitalize;
}

.content {
    width: calc(100% - 327px);
    position: absolute;
    right: 0;
    top: 10%;
    margin: 30px auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid whitesmoke;
}

th,
td,
td a {
    text-align: center;
    font-family: 'Rubik';
    padding: 8px;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4a72ff;
    color: white;
    font-weight: bold;
    font-family: 'Rubik';
    font-size: 16px;
}

.tasksTable,
.projectsTable {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 93%;

}

.progBar {
    display: flex;
}

.progContainer {
    display: flex;
    justify-content: space-around;
}