.searchBar {
    width: 489px;
    height: 30px;
    border: 2px solid #4A72FF;
    border-radius: 4px;
    font-size: 18px;
    /* text-indent: 50px; */
    padding-left: 10px;
    /* margin-left: 33px; */
    /* margin-right: 11px;*/
}
#searchForm{
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
input[type="submit"] , #clearBtn {
    background: #4A72FF;
    /* border-radius: 10px; */
    color: white;
    border: none;
    /* padding: 2% 3%; */
    font-size: 13px;
    width: 63px;
    border-radius: 4px;
    height: 32px;
    margin-left: 9px;
    
}
.btns {
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    width: 93%;
    /* margin-top: 93px; */
    padding: 20px auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
select{
    width: 146px;
    height: 30px;
}
#clearBtn{
       background: red;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}