.searchBar {
    width: 489px;
    height: 40px;
    border: 2px solid #4A72FF;
    border-radius: 4px;
    font-size: 18px;
    /* text-indent: 50px; */
    padding-left: 10px;
    /* margin-left: 33px; */
    margin-right: 11px;
}
input[type="submit"] {
    background: #4A72FF;
    /* border-radius: 10px; */
    color: white;
    border: none;
    /* padding: 2% 3%; */
    font-size: 13px;
    width: 63px;
    border-radius: 4px;
    

}
.btns {
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    width: 93%;
    /* margin-top: 93px; */
    padding: 20px auto;
}